/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  /*border-radius: 4px;*/
 /* -moz-border-radius: 4px;*/
 /* border:1px solid #ddd;*/
  margin-top: 0px;
  margin-left: 0px;
 /* -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
/*  background-clip: padding-box;*/
  /*opacity: 0.97;
  filter: alpha(opacity=97);*/
}
div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    width: 100%;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
    display: block;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #ff8f19;
  background-image: #ff8f19;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  /*content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #ff8f19;*/
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  padding: 5px 0px 20px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

* {
  box-sizing: border-box;
}

.un-row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="un-"] {
  float: left;
}

.un-col-1 {width: 8.33%;}
.un-col-2 {width: 16.66%;}
.un-col-3 {width: 25%;}
.un-col-4 {width: 33.33%;}
.un-col-5 {width: 41.66%;}
.un-col-6 {width: 50%;}
.un-col-7 {width: 58.33%;}
.un-col-8 {width: 66.66%;}
.un-col-9 {width: 75%;}
.un-col-10 {width: 83.33%;}
.un-col-11 {width: 91.66%;}
.un-col-12 {width: 100%;}
.bhoechie-tab-container .list-group-item {
    text-align: center;
    padding: 12px 0;
}
.bhoechie-tab-menu .list-group .list-group-item{
	text-decoration: none;
} 
.bhoechie-tab-menu .un-col-3 {
    padding-right: 10px;
}
div.bhoechie-tab-menu div.list-group > a {

    background: linear-gradient(to right, rgba(3,220,235,1) 0%, rgba(1,195,217,1) 100%);
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    padding: 18px 0px;

}
.bhoechie-tab-content.active h2 {

    background-color: #23c1c4;
    font-size: 36px;
    text-align: center;
    padding: 23px 0;
    color: #fff;
    text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;

}
#un-header-form label {

    /*padding-left: 20px;*/

}


.tm-page-form-section
{
      border-bottom: 1px solid #ececec;
    display: table;
    width: 100%;
}

.un-field-desc

{
  width: 20%;
    padding: 15px 20px 15px 0;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.un-section-content
{

      padding: 20px 0;
    display: table-cell;
    width: 80%;
    height: 100%;
    vertical-align: middle;

}

.un-field-desc h4 {
    margin-bottom: 0;
    color: #34383c;
}

 .un-field-desc p {
    font-style: italic;
    color: #a2a9af;
    margin-top: 0;
    margin-bottom: 0;
}


.un-section-content .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.un-section-content .container-fluid .row {
    margin-left: -15px;
    margin-right: -15px;
}

.qodef-page .qodef-field-description
{
  margin-bottom: 10px;
    margin-top: 10px;
    display: block;
}

.input_hidden
{
  display: none;
}
    